.Ball{
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    padding: 5px;
    border: 3px solid rgb(107, 139, 242);
    border-radius: 100%;
    background-color: #fff;
    .wave{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-image: linear-gradient(to bottom, rgb(107, 143, 245),rgb(129, 74, 184));
    }
    &::before{
        position: absolute;
        left:50%;
        bottom: 5px;
        z-index: 9;
        margin-left: -75px;
        margin-bottom: 55px;
        width: 150px;
        height: 150px;
        border-radius: 40%;
        box-sizing: border-box;
        background-color: rgba(#fff, .5);
        content: "";
        animation: rotate 10s linear -5s infinite;

    }
    &::after{
        position: absolute;
        left:50%;
        bottom: 5px;
        z-index: 9;
        margin-left: -75px;
        margin-bottom: 65px;
        width: 150px;
        height: 150px;
        border-radius: 40%;
        box-sizing: border-box;
        background-color: rgba(#fff, .5);
        content: "";
        animation: rotate 10s linear -5s infinite;
        animation-delay:400ms ;

    }
}
@keyframes rotate {
    to{
        transform: rotate(1turn);
    }
}