.Background{
    position:relative;
    z-index: -9999;
    display: flex;
    overflow-y: hidden;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to right,rgb(106, 144, 246),rgb(129, 71, 181));
    list-style: none;
    li{
        transform: translateY(1000px);
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 5px;
        opacity: 0.3;
        align-items: center;
        & + li{
            margin-left: 150px;
        }
        &:nth-child(2){
            animation-delay:4800ms;
            width: 80px;
            height: 80px;
        }
        &:nth-child(3){
            animation-delay: 2800ms;
            width: 50px;
            height: 50px;
        }
        &:nth-child(4){
            animation-delay: 4000ms;
            width: 75px;
            height: 75px;
        }
        &:nth-child(5){
            animation-delay: 3500ms;
            width: 50px;
            height:50px;
        }
        &:nth-child(6){
            animation-delay: 1800ms;
            width: 75px;
            height:75px;
        }
        &:nth-child(7){
            animation-delay: 4000ms;
            width: 50px;
            height:50px;
        }

        animation: move 10s infinite
    }
}
@keyframes move{
    0%{
        transform: translateY(400px) rotate(45deg)
    }
    50%{
        transform: translateY(200px) rotate(100deg)

    }
    75%{
        transform: translateY(0px) rotate(140deg)

    }
    100%{
        transform: translateY(-400px) rotate(170deg)

    }

}